# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.env

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/app/android/app/debug
/app/android/app/profile
/app/android/app/release
**/.cxx/

# Firebase configuration files
**/google-services.json
**/firebase_options.dart
**/GoogleService-Info.plist

# Sensitive files
**/key.properties
**/upload-keystore.jks
**/config.dart 